.footer{
    background-color: $DarkGrey3;
    color: $White;

    &__contact-info{
        background-color: $DarkGrey1;

        &--address,
        &--hours,
        &--subscribe{
            width: 33%;
            display: inline-block;
            vertical-align: top;
            padding: 3rem;

            .email{
                padding: 1rem;
            }

            .title{
             font-size: 2rem;
             font-weight: 800;
             padding: 1rem;   
            }
        }

        &--address{
            .contact--details{
                p{
                    font-size: 1.3rem;
                    margin: 0.5rem 1rem;
                }
                a{
                    color: $White;
                    &:hover{
                        color: $White;
                        text-decoration: none;
                    }
                }
            }
        }

        &--hours{
            .hours-list{
                list-style: none;
                
                li{
                    padding: 1rem;
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                
                .right{
                    float: right;
                }
            }
        }

        &--subscribe{
            input{
                display: inline-block;
                width: 65%;
                padding: 1rem;
                border-width: 0px;
                vertical-align: top;
            }
            button{
                display: inline-block;
                width: 25%;
                margin-left: -6px;
            }
            p{
                margin: 1rem;
                font-size: 1.3rem;
            }
            .btn{
                padding: 1rem 1.5rem;
                font-size: 1.4rem;
            }
        }
    }

    &__copyright{
        color: $LightGrey1;
        padding: 2rem;
    }
}