// Colors
$LightGrey1: #eeeeee;
$LightGrey2: #d7d7d7;
$LightGrey3: #bebebe;
$DarkGrey1: #444444;
$DarkGrey2: #333333;
$DarkGrey3: #2B2B2B;
$LightRed: #FA726C;
$DarkRed: #E63846;
$White: #ffffff;
$Black: #000000;


// Font
$DefaultFont: 1.6rem;
$LogoFont: 3rem;