.btn-control {
    background-color: $LightGrey1;
    display: inline-block;
    padding: 1rem;
    margin: 0.2rem;
    border: 1px solid $LightGrey3;
    color: $DarkGrey2;
}

.btn-submit{
    color: $White;
    background: $DarkRed;
    width: 100%;
}