.car-news{

    &__news-list{
        text-align: center;
    }
    &__news-item{
        width: 25%;
        display: inline-block;
        margin: 0 2rem;
        box-shadow: 0 0.5rem 2rem $LightGrey1;
        border-radius: 1rem;
        
        @include respond(tab-port) {
            width: 35%;
        }

        @include respond(phone) {
            width: 70%;
            text-align: center;
            margin: 2rem auto;
        }

        @include respond(small-phone) {
            width: 90%;
            text-align: center;
            margin: 2rem auto;
        }
        .image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .content{
            width: 100%;
            padding: 2rem 0;
            border-bottom: 1px solid $LightGrey1;
            &-title{
                margin-bottom: 2rem 0;
                font-size: 1.5rem;
            }
            &-description{
                margin: 0 auto;
                width: 80%;
                text-align: center;
            }
        }
        .author {
            padding: 2rem;
            text-align: center;
        }
    }
}