.section-hero{
    width: 98%;
    height: 50vh;
    margin: 0 auto;
    background-image: linear-gradient(rgba($Black, 0.5), rgba($Black, 0.5)), url('https://st.motortrend.ca/uploads/sites/42/2014/03/2015-BMW-X4-front-three-quarters-in-motion.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: relative;

    .hero__car-specs{
        position: absolute;
        bottom: 1rem;
        color: $LightGrey1;
        margin-bottom: 1rem;
        h1{
            font-size: 3rem;
            font-weight: 600;
            padding: 1rem 2rem;
        }
        h2{
            .emphasize{
                font-weight: 600;
            }
            font-size: 2rem;
            padding: 0.6rem 2rem;
            font-weight: 400;
        }
    }
}

.section-search-input{
    width: 95%;
    margin: 0 auto;
    background-color: $LightGrey1;

    form{
        margin-top: 5rem;
        padding: 2rem 0;

        .search-item-container {
            text-align: center;
            width: 49%;
            display: inline-block;
    
            input{
                width: 98%;
                margin: 1rem;
                padding: 1rem;
                font-size: 1.3rem;
            }
            button{
                width: 98%;
                margin: 1rem;
                padding: 1rem; 
                text-transform: uppercase;
                font-weight: 600;

                &::hover{
                    color: $White;
                }
            }
        }
    }
}

.section-metrics{
    width: 98%;
    margin: 3rem auto;
    background-color: $LightGrey1;

    .metrics__information-container{
        display: inline-block;
        width: 24%;
        text-align: center;
        padding: 6rem 0;

        @include respond(tab-land) {
            // width: 45%;
        }

        @include respond(phone) {
            width: 49%;
            padding: 2rem 0;
        }

        @include respond(small-phone) {
            display: block;
            width: 100%;
            text-align: center;
            padding: 2rem 0;
        }
        
        h2{
            font-weight: 800;
            font-size: 3.5rem;
            margin-bottom: 1rem;
            @include respond(tab-port) {
                font-size: 3rem;
            }
        }

        p{
            color: lighten($DarkGrey1, 0.2);
            @include respond(tab-port) {
                font-size: 1.3rem;
            }
        }
    }
}

.section-results{
    width: 98%;
    margin: 3rem auto;
}

.section-car-news{
    margin: 3rem auto;
    h2{
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
        display: block;
        margin-bottom: 2rem;
    }
}

.section-submit-your-vechile{
    margin: 6rem auto 10rem auto;

    .btn-vechile{
        padding: 1rem;
        color: $DarkRed;
        border: 0.2rem solid $DarkRed;
        text-transform: uppercase;
        font-weight: 800;
        margin: 0 auto;
        display: block;
    }
}